html, body {
	padding: 0;
	margin: 0;
	background-color: #eef0f2;
	font-family: 'Roboto', sans-serif;
}

h2 {
	margin-top: 40px;
	font-size: 18px;
	font-style: normal;
}

p {
	font-size: 14.5px;
}

ul {
	list-style: none;
}

a {
	color: #405e85;
}

header {
	background-color: #2e3133;
	padding: 50px 15% 0 15%;
	
	
	ul {
		display: inline-block;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
		}
	}

	ul.main-menu {
		width: 80%;

		li {
			min-height: 50px;
			padding-top: 10px;
		}

		li a {
			display: block;
			box-sizing: border-box;
			color: #919292;
			background-color: #3c4042;
			font-weight: bold;
			font-size: 14px;
			padding: 10px;
			border-right: 2px solid black;
			margin-right: -5px;
			text-decoration: none;


			&:hover {
				border-top: 3px solid orange;
				background-color: #35393b;
			}
		}

		li:first-child a {
			border-radius: 5px 0 0 0;
		}

		li:last-child a {
			border-right: none;
			border-radius: 0 5px 0 0;
		}

		li.active {
			border-bottom: 3px solid #acd373;
		}
	}

	ul.lang {
		width: 15%;
		text-align: right;

		img {
			height: 10px;
			width: 15px;
		}
	}
}

section {
	padding: 0 15%;
	
	h1 {
		margin-top: 20px;
		margin-bottom: -5px;
		font-weight: bold;
		font-size: 26px;
	}

	.main-block {
		display: flex;
		justify-content: space-between;

		.left-info {
			width: 30%;
		}

		.right-info {
			width: 60%;
		}

		ul {
			padding: 0;
			margin: 50px 0 -15px 0;

			li {
				display: inline-block;
				padding: 0 15px;

				img {
					height: 20px;
					width: 20px;
					position: relative;
					left: 0;
					top: 2px;
				}

				p {
					display: inline;
					margin-left: 5px;
					color: #8797b0;
					text-decoration: underline;
					cursor: pointer;
				}
			}

			li.active {
				background-color: #f5f5f5;
				box-shadow: 1px 0px rgba(0,0,0,0.12), -1px 0px rgba(0,0,0,0.12);
				border-radius: 10px 10px 0 0;
				padding: 10px;
				position: relative;
				left: 0;
				top: 1px;
				z-index: 10;
			}

			li.active p {
				font-weight: bold;
				text-decoration: none;
				color: black;
			}
		}

		ol {
			background-color: #f5f5f5;
			padding: 10px 30px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			border-radius: 0 5px 5px 5px;

			li {
				margin: 10px 0;
			}
		}

		.note {
			padding: 7px;
			background-image: repeating-linear-gradient(135deg, #ffffcd 0, #ffffcd 20px, #ffffaa 20px, #ffffaa 30px);
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			border-radius: 5px;
		}
	}
}

div.pictures {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;

	div {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			height: 120px;
			width: 120px;
		}

		a {
			font-weight: bold;
			color: #405e85;
		}

		p {
			margin-top: 0px;
			display: block;
			color: #acaeaf
		}
	}
}

p.pictures-note {
	background-color: #ffffcd;
	text-align: center;
	padding: 7px;
	margin: 0 auto;
	width: 500px;
}

div.text-info {
	margin-top: -10px;
	display: flex;
	justify-content: space-between;

	div {
		width: 23%;
	}
}

div.line {
	border-bottom: 1px solid black;
	margin-top: 50px;
}

footer {
	padding: 10px 15%;
	font-size: 14px;
}